# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arch Linux Packaging
pkg/
src/
*.tar.gz
*.tar.xz
*.tar.zst
*.pkg.tar.*
*.log

# KDE/System
.directory
*~
.DS_Store
